cicids2017_balanced.csv filter=lfs diff=lfs merge=lfs -text
cicids2017_database/Friday-WorkingHours-Morning.csv filter=lfs diff=lfs merge=lfs -text
cicids2017_database/Friday-WorkingHours-Afternoon-DDos.csv filter=lfs diff=lfs merge=lfs -text
cicids2017_database/Friday-WorkingHours-Afternoon-PortScan.csv filter=lfs diff=lfs merge=lfs -text
